.content {
  display: flex;
  flex-direction: column;
  padding-inline: 100px;
  padding-block: 50px 80px;
  border-bottom: 1px solid #e0e0e0;
}

@media (max-width: 600px) {
  .content {
    padding: 20px;
  }
}
