.container {
  max-width: 1500px;
  padding: 50px 100px;
  margin-inline: auto;
}

.description {
  font-weight: 500 !important;
  line-height: 20px !important;
  margin-top: 30px !important;
}

@media (max-width: 600px) {
  .container {
    padding-inline: 20px;
  }
}
