.gridContainer {
  display: flex;
  justify-content: center;
}

.item {
  width: 100%;
  border: 1px solid grey;
  object-fit: cover;
  border-radius: 20px;
  transition: box-shadow ease-in-out 0.2s;
  margin: 30px !important;
  padding: 30px;
}

.head {
  margin-bottom: 20px !important;
}

@media (max-width: 600px) {
  .item {
    margin-block: 10px !important;
  }
}
